<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mathesoft.renderermodecomparison"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <!-- Tell the system this app requires OpenGL ES 1.0 or higher -->
    <uses-feature android:glEsVersion="0x00010000" />

    <!-- just for saving the opengl atlas to sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mathesoft.renderermodecomparison.canvas2dnoinheritance.Canvas2DNoInheritanceActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".canvas2dsdk.Canvas2DSdkActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".canvas2dempty.Canvas2DSdkEmptyActivity"
            android:screenOrientation="sensorLandscape" />
        <!-- OpenGL ES 1.0 / 1.1 -->
        <activity
            android:name=".opengles10.OpenGLES10Activity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".opengles10empty.OpenGLES10EmptyActivity"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>